body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #89f1ee;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1{
    margin: 0;
}

nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.review-details img {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2, h3 {
    color: #2c3e50;
}

.review, .author-details {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.review img, .author-details img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.review-details p, .author-details p, .author-details ul {
    flex: 1;
}

#comment-form {
    margin-top: 20px;
}

#comment-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3498db;
}